@charset "UTF-8";
html {
  font-size: 62.5%; }

body {
  background: #f9f8f6; }

#contents_size {
  max-width: 940px;
  margin: 0 auto; }

#header {
  margin: 40px 0;
  display: flex;
  justify-content: space-between; }
  #header .pc_navi {
    padding-top: 20px; }
  #header .insta {
    margin-left: 6px; }
  #header .fb {
    margin-left: 13px; }
  #header .navi {
    margin-left: 16px; }
  #header .sp_navi {
    display: none; }
  #header .sp_menu_toggle {
    display: none; }
  #header #sp_title_logo {
    display: none; }
  #header .sp_menu_toggle {
    display: none; }

#contents {
  display: flex; }

#main {
  width: 72.5%; }

img.owl-carousel {
  display: block;
  width: 100%; }

img.sub_menu {
  margin: 30px 0px;
  display: block;
  width: 100%; }

.sp_sub_menu {
  display: none; }

.items, .shopping_guide {
  display: flex;
  flex-wrap: wrap; }

.item_thumbnail {
  width: 33.33%;
  padding: 1.8%;
  border: 1px solid #f9f8f6;
  box-sizing: border-box;
  background-color: #fff; }
  .item_thumbnail a {
    display: block;
    font-size: 12px;
    font-size: 1.2rem;
    line-height: 1.7rem;
    text-decoration: none;
    color: #000; }
    .item_thumbnail a img {
      width: 100%; }
  .item_thumbnail span {
    display: block;
    line-height: 4rem;
    font-size: 13px;
    font-size: 1.3rem; }
  .item_thumbnail p {
    margin-top: 3px; }

.guide_box {
  flex: 1;
  padding: 20px;
  background-color: #fff;
  border: 2px solid #f9f8f6; }
  .guide_box h2 {
    color: #887f69;
    font-size: 15px;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 2px; }
  .guide_box h3 {
    color: #887f69;
    font-size: 13px;
    font-size: 1.3rem;
    font-weight: bold;
    margin: 15px 0 10px 0; }
  .guide_box p {
    font-size: 13px;
    font-size: 1.3rem;
    line-height: 1.8rem; }
  .guide_box img.otodoke_banner {
    margin-top: 15px; }

#sidenavi {
  width: 24.9%;
  margin-left: 2%;
  margin-right: 0.5%;
  box-sizing: border-box; }
  #sidenavi .searchform {
    background-color: #fff;
    padding: 20px; }
    #sidenavi .searchform img {
      display: block;
      margin-bottom: 12px; }
    #sidenavi .searchform input {
      padding: 5px; }
  #sidenavi .search_box {
    background-color: #f9f8f6;
    border: none;
    width: 95%;
    height: 30px;
    background-image: url("../images/top/search_icon.png");
    background-repeat: no-repeat;
    background-position: 95% 7px; }
  #sidenavi .sidebutton_nexticon {
    background-color: #887f69;
    background-image: url("../images/top/next_icon.png");
    background-repeat: no-repeat;
    background-position: 95% 16px;
    height: 45px;
    display: block;
    padding: 17px;
    box-sizing: border-box;
    margin-top: 10px; }
  #sidenavi .sidebutton_downicon {
    background-color: #887f69;
    background-image: url("../images/top/down_icon.png");
    background-repeat: no-repeat;
    background-position: 95% 19px;
    height: 45px;
    display: block;
    padding: 17px;
    box-sizing: border-box;
    margin-top: 10px; }
  #sidenavi .sidebutton {
    background-color: #887f69;
    height: 45px;
    display: block;
    padding: 17px;
    box-sizing: border-box;
    margin-top: 10px; }
  #sidenavi .categorie_name li {
    background-color: #fff;
    border-bottom: 1px solid #f9f8f6;
    padding: 16px 0px 16px 17px;
    background-image: url("../images/top/next_icon_gray.png");
    background-repeat: no-repeat;
    background-position: 95% 16px; }
  #sidenavi .categorie_name a {
    text-decoration: none;
    color: #000;
    font-size: 12px;
    font-size: 1.2rem; }
  #sidenavi .about_info_box {
    padding: 12px;
    background-color: #fff;
    text-align: center; }
    #sidenavi .about_info_box p {
      color: #000;
      font-size: 11px;
      font-size: 1.1rem;
      line-height: 1.6rem;
      text-align: left;
      margin: 5px 0 5px 0; }
    #sidenavi .about_info_box .more {
      display: block;
      margin: 7px 0; }
    #sidenavi .about_info_box img {
      max-width: 100%; }

footer {
  margin: 60px 0 80px 0; }
  footer .go_top {
    border-bottom: 1px solid #887f69;
    text-align: right;
    padding-bottom: 20px;
    margin-bottom: 35px; }
  footer .footnavi {
    text-align: center; }
    footer .footnavi li {
      display: inline-block;
      font-size: 13px;
      font-size: 1.3rem;
      padding: 0px 5px; }
  footer .copy {
    text-align: center;
    padding-top: 30px;
    color: #887f69; }

.owl-theme .owl-dots {
  text-align: left;
  margin: 0; }

.owl-theme .owl-dots .owl-dot span {
  width: 25px;
  height: 2px;
  background-color: #aaa;
  margin: 5px 14px 5px 0; }

.owl-theme .owl-dots .owl-dot.active span {
  background-color: #9d1a2d; }

@media (max-width: 645px) {
  #contents_size {
    width: 100%; }

  .breadcrumb {
    width: 95%;
    margin: 0 auto; }

  .items {
    width: 95%;
    margin: 0 auto; }

  .shopping_guide {
    width: 95%;
    margin: 0 auto; }

  #sidenavi {
    width: 95%;
    margin: 0 auto; }

  .owl-carousel {
    width: 95%;
    margin: 0 auto; }

  #cate_image {
    margin-top: 15px;
    width: 95%;
    margin: 0 auto; }

  #header {
    margin: 30px 0 20px 0;
    display: block;
    text-align: center; }
    #header #head_navi {
      position: relative; }
    #header #pc_title_logo {
      display: none; }
    #header #sp_title_logo {
      display: block; }
    #header .pc_navi {
      display: none; }
    #header .sp_navi {
      display: block;
      margin-top: 15px; }
    #header .sp_insta {
      margin: 0 8px; }
    #header .menu_icon {
      cursor: pointer; }

  ul.sp_menu_toggle {
    width: 130px;
    position: absolute;
    top: 30px;
    left: 55%;
    text-align: left;
    padding: 0px;
    border: 1px solid #524c3e;
    background: #fff;
    z-index: 100; }
    ul.sp_menu_toggle a {
      text-decoration: none;
      display: block;
      padding: 10px;
      font-size: 11px;
      font-size: 1.1rem;
      font-weight: bold;
      border-bottom: 1px solid #524c3e;
      color: #524c3e; }

  #contents {
    display: block; }

  #main {
    width: 100%; }

  img.sub_menu {
    display: none; }

  .sp_sub_menu {
    display: block;
    margin: 20px auto; }

  .item_thumbnail {
    width: 50%;
    padding: 2%; }

  .shopping_guide {
    display: block; }
    .shopping_guide img {
      max-width: 100%; }

  .searchform {
    background-color: #fff;
    padding: 20px;
    margin: 20px 0; }
    .searchform img {
      display: none; }

  .search_box {
    background-color: #f9f8f6;
    border: none;
    width: 100%;
    height: 30px;
    background-image: url("../images/top/search_icon.png");
    background-repeat: no-repeat;
    background-position: 98% 7px; }

  .sidebutton_nexticon {
    background-color: #887f69;
    background-image: url("../images/top/next_icon.png");
    background-repeat: no-repeat;
    background-position: 95% 16px;
    height: 45px;
    display: block;
    padding: 17px;
    box-sizing: border-box;
    margin-top: 10px; }

  .sidebutton_downicon {
    background-color: #887f69;
    background-image: url("../images/top/down_icon.png");
    background-repeat: no-repeat;
    background-position: 95% 19px;
    height: 45px;
    display: block;
    padding: 17px;
    box-sizing: border-box;
    margin-top: 10px; }

  .sidebutton {
    background-color: #887f69;
    height: 45px;
    display: block;
    padding: 17px;
    box-sizing: border-box;
    margin-top: 10px; }

  .categorie_name li {
    background-color: #fff;
    border-bottom: 1px solid #f9f8f6;
    padding: 16px 0px 16px 17px;
    background-image: url("../images/top/next_icon_gray.png");
    background-repeat: no-repeat;
    background-position: 95% 16px; }
  .categorie_name a {
    text-decoration: none;
    color: #000;
    font-size: 12px;
    font-size: 1.2rem; }

  .about_info_box {
    padding: 12px;
    background-color: #fff;
    text-align: left; }
    .about_info_box img.about_info_ph {
      display: block;
      float: left;
      margin-right: 10px;
      width: 45%; }
    .about_info_box p {
      color: #000;
      font-size: 11px;
      font-size: 1.1rem;
      line-height: 1.8rem;
      padding-right: 5px; }
    .about_info_box .more {
      display: block;
      margin: 7px 0; }
    .about_info_box::after {
      content: '';
      display: block;
      clear: both; }

  footer {
    width: 95%;
    margin: 30px auto; }
    footer .go_top {
      text-align: center;
      margin-bottom: 20px; }
    footer .footnavi {
      padding: 0 30px; }
      footer .footnavi li {
        padding: 5px;
        font-size: 11px;
        font-size: 1.1rem; }
    footer .copy {
      padding: 15px; } }
/*リストページ---------------------------
---------------------------------------------------*/
.breadcrumb {
  height: 35px;
  background-color: #e8e4da;
  background-image: url("../images/list/home_icon.png");
  background-repeat: no-repeat;
  background-position: 10px center;
  padding: 12px 0 0 30px;
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 10px; }

.breadcrumb li {
  display: inline-block;
  /*横に並ぶように*/
  list-style: none; }

.breadcrumb li:after {
  /* >を表示*/
  content: '/';
  padding: 0 3px;
  color: #887f69; }

.breadcrumb li:last-child:after {
  content: ''; }

.breadcrumb li a {
  text-decoration: none;
  color: #887f69;
  font-size: 12px;
  font-size: 1.2rem; }

#cate_image {
  margin-bottom: 10px; }
  #cate_image img {
    max-width: 100%; }
  #cate_image .cate_image_sp {
    display: none; }
  @media (max-width: 645px) {
    #cate_image .cate_image_sp {
      display: block; }
    #cate_image .cate_image_pc {
      display: none; } }

.next_back {
  display: flex;
  justify-content: space-between;
  margin-top: 20px; }
  @media (max-width: 645px) {
    .next_back {
      margin: 30px auto;
      width: 95%; } }

.next_back_button {
  background-color: #887f69;
  width: 120px;
  height: 40px;
  text-align: center; }
  .next_back_button img {
    padding: 14px; }

/*商品ページ---------------------------
---------------------------------------------------*/
#product {
  padding: 0 60px 60px 60px;
  background-color: #fff; }
  #product .product_title {
    display: flex;
    justify-content: space-between;
    padding: 40px 0 30px 0;
    border-bottom: 1px solid #e8e4da;
    margin-bottom: 20px; }
    #product .product_title h2 {
      font-size: 16px;
      font-size: 1.6rem;
      letter-spacing: 0.3rem;
      font-weight: bold; }
    #product .product_title p {
      font-size: 10px;
      font-size: 1rem;
      letter-spacing: 0rem;
      font-weight: normal;
      color: #887f69; }
  #product #product_images {
    display: flex;
    padding-bottom: 20px;
    border-bottom: 1px solid #e8e4da; }
  #product .display_image {
    width: 70.68%; }
    #product .display_image img {
      max-width: 100%; }
  #product .list_image {
    width: 27.58%;
    margin-left: 1.74%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between; }
    #product .list_image img {
      width: 100%; }
    #product .list_image .s_image {
      width: 47.5%;
      cursor: pointer; }
    #product .list_image .s_image_empty {
      width: 47.5%; }
  #product .product_sub_title_c {
    margin: 20px 0; }
  #product .product_table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    line-height: 4rem;
    margin-bottom: 20px; }
    #product .product_table .bg_gray {
      background: #f9f8f6; }
    #product .product_table td {
      border: 1px solid #e8e4da;
      font-size: 12px;
      font-size: 1.2rem;
      color: #887f69; }
    #product .product_table input[type="checkbox"] {
      display: none; }
    #product .product_table label {
      position: relative;
      display: inline-block;
      padding: 12px 10px;
      cursor: pointer; }
    #product .product_table label::before {
      position: absolute;
      content: '';
      left: 0;
      width: 14px;
      height: 14px;
      background: #fff;
      border: 1px solid #e8e4da; }
    #product .product_table input[type="checkbox"]:checked + label::after {
      position: absolute;
      content: '';
      top: 12px;
      left: 2px;
      width: 16px;
      height: 5px;
      border-left: 2px solid #887f69;
      border-bottom: 2px solid #887f69;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg); }
  #product .price_cart_quantity {
    display: flex;
    justify-content: space-between; }
  #product .price_quantity {
    width: 55%; }
    #product .price_quantity .product_sub_title_p {
      padding: 26px 0;
      border-top: 1px solid #e8e4da;
      border-bottom: 1px solid #e8e4da; }
      #product .price_quantity .product_sub_title_p p {
        display: inline-block;
        color: #e80f66;
        font-style: italic;
        font-size: 14px;
        font-size: 1.4rem;
        margin-left: 68px; }
      #product .price_quantity .product_sub_title_p .price {
        font-size: 22px;
        font-size: 2.2rem; }
      #product .price_quantity .product_sub_title_p .tax {
        color: #000; }
    #product .price_quantity .quantity {
      padding: 15px 0; }
      #product .price_quantity .quantity input {
        margin-left: 46px;
        width: 150px;
        height: 40px;
        border: 1px solid #e8e4da; }
  #product .product_text h3 {
    font-size: 15px;
    font-size: 1.5rem;
    color: #887f69;
    font-weight: bold;
    letter-spacing: 0.1rem;
    line-height: 2rem; }
  #product .product_text .shouhinsetumei {
    padding-bottom: 15px;
    border-bottom: 1px solid #887f69;
    border-top: 1px solid #e8e4da;
    padding-top: 40px; }
  #product .product_text .shouhintitle {
    margin: 30px 0; }
  #product .product_text p {
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 2.3rem;
    padding-bottom: 20px; }
  #product .product_text .product_table_b {
    width: 100%;
    border-collapse: collapse;
    line-height: 4rem; }
    #product .product_text .product_table_b .bg_gray {
      background: #f9f8f6;
      text-align: center;
      width: 160px; }
    #product .product_text .product_table_b td {
      border: 1px solid #e8e4da;
      font-size: 12px;
      font-size: 1.2rem;
      color: #887f69;
      padding-left: 10px;
      text-align: left; }

@media (max-width: 645px) {
  #product {
    padding: 0 2.5% 30px 2.5%;
    margin-top: 15px; }
    #product .product_title {
      display: block;
      padding: 20px 0 15px 0;
      margin-bottom: 10px; }
      #product .product_title h2 {
        margin-bottom: 10px; }
    #product #product_images {
      display: block;
      padding-bottom: 10px; }
    #product .display_image {
      width: 100%; }
      #product .display_image img {
        width: 100%; }
    #product .list_image {
      width: 100%;
      margin-top: 2.5%;
      margin-left: 0;
      display: flex;
      flex-wrap: wrap; }
      #product .list_image img {
        width: 100%; }
      #product .list_image .s_image {
        width: 18.4%;
        cursor: pointer;
        margin-bottom: 2%; }
      #product .list_image .s_image_empty {
        width: 18.4%; }
    #product .price_cart_quantity {
      display: block; }
    #product .price_quantity {
      width: 100%; }
    #product .addcart {
      text-align: center;
      max-width: 100%; }
    #product .quantity {
      border-bottom: 1px solid #e8e4da;
      margin-bottom: 15px; }
    #product .product_text h3 {
      font-size: 16px;
      font-size: 1.6rem; }
    #product .product_text .shouhinsetumei {
      border-top: none; }
    #product .product_text .shouhintitle {
      margin: 15px 0; }
    #product .product_text p {
      font-size: 14px;
      font-size: 1.4rem;
      line-height: 2rem; }
    #product .product_text .product_table_b {
      line-height: 1.5rem; }
      #product .product_text .product_table_b td {
        padding: 10px; }
      #product .product_text .product_table_b .bg_gray {
        width: 30%;
        vertical-align: middle; } }

/*# sourceMappingURL=appleberry.css.map */
